body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.btn {
    text-transform: capitalize;
    outline: none;
    cursor: pointer;
}

h2,
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: $very-dark-cyan;
}

.container {
    padding-inline: 8px;
    padding-left: 8px;
    padding-right: 8px;
    @media (min-width: 1000px) {
        padding-left: 0;
        padding-right: 0;
    }
}

@function image($filename) {
    @return url('../images/#{$filename}');
  }